<nav>
    <a class="es" href="https://www.nasa.gov/"><img src="/Image/logo.png" style="width:5.7em; height:5em;" alt="logo"/></a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create"><span>New Blog</span></a></li>
    </ul>
</nav>